
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    padding: 10%;
    background:pink;
    margin:0;
    font-family: Helvetica, Arial, sans-serif;
}
