<!DOCTYPE html>
<html lang="en">
    <!-- receives dictionary 'entry' with keys 'tip' and'image'
     surf_list contains list of str -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Mission to Mars</h1>
            <!-- button to trigger the scrape -->
            <p style=text-align:center><a class="btn btn-primary btn-lg" 
                href="/scrape" 
                role="button">Scrape New Data</a></p>
        </div>

    
    </div>
    <div class="container-fluid">
        <h1>Latest Mars News</h1>
        <p>  </p>
        <p>  </p>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6" style="background-color:lavender;">
                <h2> Featured Mars Image</h2>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6" style="background-color:lavenderblush;">
                <h2 class = "box-border"> Current Weather on Mars</h2>
                <h2> Mars Facts</h2>
            </div>
        </div>
     
    </div>
</body>

</html>