
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: #f2f3f7;
    margin:0;
    font-family: Helvetica, Arial, sans-serif;
}
.box-border {
    border-style:solid;
    border-color:#5454e5;
    border-width:2px;
}